<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>



	<connectionStrings>
		<add name="MyDbConnection"
			 connectionString="Data Source=ServerName;Initial Catalog=DatabaseName;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>



	<appSettings>
		<add key="ConnectionString" value="Data Source=ServerName;Initial 
Catalog=DatabaseName;Integrated Security=True" />
		<add key="LogLevel" value="Debug" />
		<add key="koko" value="Koko Value" />
	</appSettings>
</configuration>